*{
    margin: 0;padding: 0;
}
main{
    height: 100vh;width: 100vw;
    /* display: flex;
    align-items: center; */
}
.left{
    display: flex;justify-content: center;align-items: center;
    /* background-color: green; */
    height: 100%;
    width: 40%;
    float: left;
}

h1{
    display: flex;justify-content: center;align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}
.h1-parent{
    
    width: 100%;
    position: relative;
}
h3{
    font-size: medium;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h3-parent{
    
    padding: 3%;
    display: flex;justify-content: center;align-items: center;
    text-align: justify;
    width: 100%;
    /* background-color: blue; */
}
.right{
    width: 50%;
    /* background-color: green; */
    height: 100%;
    float: right;

}
.input-parent{
    width: 100%;
    height: 5%;
    margin-top: 20%;
    /* background-color: grey; */
    display: flex;justify-content: center;align-items: center;
}
input{
    height: 100%;
    width: 70%;
}
.button-container{
    width: 50%;
    /* background-color: pink; */
    height: 40%;

    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
    
}
.button-container button{
    background-color: rgb(0, 0, 0);
    /* border-radius: 10%; */
    /*border: 1px solid green;
    */color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 40%;
    display: block;
    /* -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%; */
}
.display{
    font-family: 'Courier New', Courier, monospace;
    /* height: 1000%; */
/* background-color: blue; */
    font-size: medium;    
    /* margin-top: -30%; */
    /* background-color: rgb(0, 0, 0); */
    width: 50%;
    text-align: center;
    position: absolute;
    overflow-y:scroll;

    
}
.display-parent{
    width: 100%;
    
    margin-top: 20%;
    /* background-color: grey; */
    display: flex;justify-content: center;align-items: center;
}